body {
	font-family : Arial, sans-serif;
}

img
{
	border: 4px solid rgba(30,100,200,0.7);
	border-radius: 50% ;
	
}
#prenom {
	color: #1E88E5;
}
.structure {
	text-transform: uppercase;
	font-weight: bold;
}
.fonction {
	font-weight: bold;
	text-transform: capitalize;
}
#bloc_haut {
	display: inline-block;
	border: 0px solid black ;
	width: 100%;
}
#img {
	padding-top: 50px;
	padding-bottom: 70px;
	background-color: #1E88E5;
	float: left;
	width: 100%;
	text-align: center;
}
#titre {
	padding-top: 50px;
	margin-left: 130px;
	border: 0px solid black ;
	text-align: left;
}
#soulignement {
	text-decoration: underline #1E88E5;
}
#grd_bloc {
	float: right;
	margin-left: 0px;
	border: 0px solid black;
	width: 65%;

}
.bloc {
	margin-left: 0px;
}
hr {
	color : #1E88E5 ;
}

.sous_sous_bloc_2 {
	display: inline-block;
	
	vertical-align: top;
}
.sous_sous_bloc {
	display: inline-block;
	margin-right: 70px;
	vertical-align: top;
	border: 0px solid black;
}
.sous_sous_bloc_milieu {
	display: inline-block;
	border: 0px solid black;
	vertical-align: top;
}
.sous_sous_bloc_milieu i{
	margin-top: 15px;
}
#sous_sous_bloc_haut_img {
	width: 30%;
	border: 0px solid black;
}
#sous_sous_bloc_haut_titre {
	width: 58%;
	border: 0px solid black;
}
#sous_sous_bloc_haut_img, #sous_sous_bloc_haut_titre  {
	display: inline-block;
	margin-right: 70px;
	vertical-align: top;
	border: 0px solid black;
}
.description {
	
}
.recommandeurs
{
	display: inline-block;
	margin-right: 70px;
}
#bloc_bas {
	background-color: #1E88E5;
	float: left;
	width: 30%;
	height: 1430px;

}
li {
	list-style-type: none;
}
#contact {
	padding: 30px;
}
#a_propos {
	padding: 30px;
	text-align: justify;
	padding-bottom: 740px;
}
#loisirs {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
}
#loisirs i {
	margin-right: 20px;
	border: 4px solid black ;
	border-radius: 50%;
}

.fil {
	background-color: #424242;
	text-align: center ;
	font-weight: bold;
	color : #1E88E5 ;
	padding-top: 8px ;
	padding-bottom: 8px ;
}
h1 {
	font-size: 4em;
	text-transform: uppercase;
}
h2 {
	font-size: 3em ;
}
h3 {

}
hr
{
	background-color: #1E88E5;
	height: 0px;
}
#grd_bloc i{
	color : #1E88E5 ;
}

@media screen and (max-width: 1024px)
{

body {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 30px;
}
#sous_sous_bloc_haut_img {
	width: 100%;
	border: 0px solid black;
}
#sous_sous_bloc_haut_titre {
	width: 100%;
	border: 0px solid black;
}
#grd_bloc {
	width: 100%;
}
#bloc_bas {
	background-color: #1E88E5;
	float: left;
	width: 100%;
	height: auto;
}
.sous_bloc {
		display: flex;
		flex-direction: column;
}
#a_propos {
	padding-bottom: 140px;
}

#titre {
	margin-top: 0px;
	margin-left: 0px;
	text-align: center;
}

}